<div class="clear"></div>
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--6-col">
        {{#foreach posts}}
            {{#if @odd}}
                {{> article-card}}
            {{/if}}
        {{/foreach}}
    </div>
    <div class="mdl-cell mdl-cell--6-col">
        {{#foreach posts}}
            {{#if @even}}
                {{> article-card}}
            {{/if}}
        {{/foreach}}
    </div>
</div>

{{! Previous/next page links - displayed on every page }}
{{pagination}}
