<nav class="mdl-navigation" role="navigation">
    {{#foreach navigation}}
            <a class="mdl-navigation__link" href="{{url absolute="true"}}">{{label}}</a>                    
    {{/foreach}}
    <a class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" style="margin: 15px;" href="{{@blog.url}}/rss/">Subscribe</a>
</nav>