<section>
    <h6>Products</h6>
	<ul class="product-links">
		<li>
			<a href="//www.visualstudio.com/?Wt.mc_id=DX_MVP5001574" alt="Visual Studio Developer Tools" target="_blank" >
				<img src="//cdn.devlaundry.com/images/microsoft/visual_studio.jpg" alt="Visual Studio Developer Tools" width="200" height="100" />    
			</a>
		</li>
		<li>
			<a href="//blogs.microsoft.com/iot/2015/09/29/azure-iot-suite-now-available/?WT.mc_id=dx_MVP5001574" alt="Azure IoT Suite" target="_blank">
				<img src="//cdn.devlaundry.com/images/microsoft/azure_iot_suite.jpg" alt="Azure IoT Suite" width="200" height="100" /> 
			</a>
		</li>
		<li>
			<a href="//blogs.msdn.com/b/cdndevs/archive/2015/09/02/visual-studio-code-and-visual-studio-online.aspx?WT.mc_id=dx_MVP5001574" alt="Visual Studio Online" target="_blank">
				<img src="//cdn.devlaundry.com/images/microsoft/visual_studio_online.jpg" alt="Visual Studio Online" width="200" height="100" /> 
			</a>
		</li>
	</ul>
</section>