{{!< default}}
<div class="mdl-grid">
    <div class="mdl-cell mdl-cell--8-col">
        {{> featured}}
        {{> loop}}
    </div>
    <div class="mdl-cell mdl-cell--4-col mdl-cell--hide-phone">
        {{> sidebar}}
    </div>
</div>
