{{!< default}}
<main class="mdl-grid" role="main">
    <div class="mdl-cell mdl-cell--9-col">        
        {{> loop}}
    </div>
    <div class="mdl-cell mdl-cell--3-col mdl-cell--hide-phone">
        {{> ads}}
        {{> tags}}
        {{> products}}
        {{> ads}}
    </div>
</main>
