body{
    background-color: #f9f9f9;
}
.page-content{
    margin: 15px;    
}
.share-buttons{
    float: right;
}
.pagination{
    height: 70px;
    clear: both;
    display: block;
    text-align: center;
}
.pagination a{
    margin-right: 15px;
    margin-left: 15px;
}
.feature-card-wide.mdl-card {
  width: 98%;
  float: left;
  margin-bottom: 15px;
}
.feature-card-wide > .mdl-card__title {
  color: #fff;
  height: 85px;
  background-color: #BBDEFB;
}
.feature-card-wide > .mdl-card__menu {
  color: #fff;
}
.feature-card-wide a{
    text-decoration: none;
}

.article-card-wide.mdl-card {
  width: 48%;
  float: left;
  margin-right: 10px;
  margin-bottom: 15px;
  overflow: visible;
}
.article-card-wide > .mdl-card__title {
  color: #fff;
  height: 100px;
}
.article-card-wide > .mdl-card__menu {
  color: #fff;
}
.article-card-wide a{
    text-decoration: none;
}

.author-card.mdl-card {  
  width: 100%;
  margin-right: 10px;
  margin-bottom: 15px;
  overflow: visible;
}
.author-card > .mdl-card__title {
  color: #fff;
  height: 100px;
}
.author-card > .mdl-card__menu {
  color: #fff;
}
.author-card a{
    text-decoration: none;
}
div.mdl-card__title h4{
    margin-left: 35px;
}
div.mdl-card__title h4 span{
    color:rgba(0,0,0,0.54);    
}

.article-next-card.mdl-card {  
  width: 100%;
  margin-right: 10px;
  margin-bottom: 15px;
  overflow: visible;
}
.article-next-card > .mdl-card__title {
  color: #fff;
  height: 75px;
}
.article-next-card > .mdl-card__menu {
  color: #fff;
}
.article-next-card a{
    text-decoration: none;
}

.sidebar-logo{
    display: block;
    border-radius: 100%;
    margin-left: 40px;
}
.publish-date{
    display: block;
    font-size: 12px;
    color: rgba(0, 0, 0, .54);
    margin-top: 5px;
}
.icon-fab-align{
    margin-top: 10px;
}

.product-links{
    padding: 0;
}
.product-links a {
    text-decoration: none;
}
.product-links li {
    list-style: none;
    margin-bottom: 10px;
}

.page-header{
    text-align: center;
}
.share{
    clear: both;
    margin-bottom: 20px;
}
.share a{
    text-decoration: none;
}

#toc-tag ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
#toc-tag a{
    text-decoration: none;
}
#toc-tag .toc-h2 {
    padding-left: 10px;
}
#toc-tag .toc-h3 {
    padding-left: 20px;
}
#toc-tag li.toc-active a {
    color: #1976D2;
    font-weight: bold; 
}
.post-comment{
    margin-top: 30px;
}
.author-image{
    border-radius: 50%;
    display: block;
    margin-top: 20px
}
.post-meta{
    margin-bottom: 20px; 
    padding-bottom: 5px;   
    border-bottom: 1px rgba(0,0,0,0.54) solid;
}
.post-meta div{
    display: inline-block;
}
.share-top-article{
    float: right;
    padding-bottom: 2px; 
}
.share-top-article a{
    text-decoration: none;
}
ul.related-posts{
    list-style: none;
    padding: 0;
}